[submodule "lib/cft"]
	path = lib/cft
	url = https://github.com/matsengrp/cft.git
[submodule "lib/revbayes"]
	path = lib/revbayes
	url = https://github.com/Irrationone/revbayes.git
[submodule "bcr-phylo-benchmark"]
	path = bcr-phylo-benchmark
	url = https://github.com/matsengrp/bcr-phylo-benchmark.git
